@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(-45deg, #ff07d6a6, #e4d500);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

.start-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#startButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 800px;
    max-height: 800px;
    width: 50%;
    height: auto;
}

@media (max-width: 600px) {
    #startButton {
        max-width: 500px;
        width: 60%;
    }
}

@media (max-width: 400px) {
    #startButton {
        max-width: 350px;
        width: 70%;
    }
}

#nameInputContainer {
    font-size: 1.9em;
    border-radius: 20px;
}

#nameList {
    font-size: 1.9em;
    border-radius: 20px;
}

#nameInput, #saveButton, #continueButton {
    font-size: 1.9em;
    border-radius: 20px;
}

#saveButton.custom-button, #continueButton.custom-button {
    padding: 10px 20px;
    font-size: 1.9em;
    border: 2px solid white;
    background-image: linear-gradient(to right, rgba(106, 13, 173, 0.8), rgba(56, 217, 169, 0.8), rgba(59, 130, 246, 0.8));
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    border-radius: 20px;
}

#saveButton.custom-button:hover, #continueButton.custom-button:hover {
    border-color: #ddd;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.kasten {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
}

.mode-selection-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: rgba(0, 255, 200, 0.7);
    border-radius: 25px;
    padding: 60px; /* Erhöht für mehr Innenraum */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 70%; /* Erhöht für mehr Breite */
    max-width: 800px; /* Erhöht für maximale Breite */
}

.mode-title, .team-modes {
    background-color: rgba(255, 255, 255, 0.3);
    color: #000000;
    padding: 20px 40px;
    margin-bottom: 20px;
    border-radius: 15px;
    font-size: 2.5em; /* Schriftgröße des Titels anpassen */
}

.mode-button {
    display: block;
    width: 80%;
    margin: 20px auto;
    padding: 20px 0;
    font-size: 2em; /* Schriftgröße der Buttons anpassen */
    border-radius: 15px;
    border: none;
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.mode-button:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

@media (max-width: 768px) {
    .mode-selection-container {
        width: 90%; /* Breiter auf kleineren Bildschirmen */
    }
    
    .mode-button, .mode-title {
        font-size: 2em; /* Kleinere Schriftgröße auf kleineren Bildschirmen */
    }
}
